django == 5.1.4

langchain == 0.3.2

langchain-core == 0.3.25

langchain-community == 0.3.1

langchain-groq == 0.2.1

pypdf == 5.0.1

chroma-hnswlib == 0.7.6

chromadb == 0.5.13

sentence-transformers == 3.3.1